.profile-sidebar {
    position: absolute;
    right: 10px;
    top: 50px;
    background: rgb(12, 12, 12);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.924);
    width: 200px;
  }
  
  .profile-sidebar h3 {
    margin-bottom: 10px;
  }
  
  .profile-sidebar a {
    display: block;
    margin: 10px 0;
  }
  
  .logout-btn {
    background: red;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
  }
  